<div class="footer-banner bgcovercenter text-white pb-9 d-flex flex-column justify-content-end align-items-start">
    <p class="fs-2 fw-bold mb-3">想收到最新消息嗎？<br>快訂閱我們！</p>
    <div class="input-group">
        <input type="text" class="form-control py-3" placeholder="輸入您的電子信箱" aria-describedby="basic-addon2">
        <span class="input-group-text bg-primary px-13 border-0" id="basic-addon2">訂閱</span>
    </div>
</div>
<footer class="fs-6 d-flex border">
    <p>
        <a class="fs-4 me-4" href="./index.html">EXHIBINECTION</a>
        <small class="d-block d-md-inline">© 2020. All Rights Reserved.</small>
    </p>

    <nav class="nav text-gray ms-auto d-none d-md-flex align-items-center">
        <!-- margin-left: auto 讓元件靠右 -->
        <a class="nav-link" href="#">Sign in</a>
        <a class="nav-link" href="#">Sign up</a>
    </nav>
</footer>