.row-wrap {
    h2 {
        font-size: 28px;
    }

    img {
        // width: 445px;
        height: 285px;
    }
}

@media (mix-width:768px) {
    .row-wrap {
        h2 {
            font-size: 36px;
        }
    }
}