.index-header-banner {
  // background: url(../images/index_banner.jpg) no-repeat;
  background-image: url(../images/index_banner.jpg);
  background-repeat: no-repeat;
  height: 480px;

  button {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.hot-show {
  img {
    width: 100%;
    height: 100%;
  }
}

.live-recall {
  .live-recall-bg {
    background-image: url(../images/live-recall-bg.png);
    background-repeat: no-repeat;
  }
}