.banner-footer {
    // background: url(../images/index_banner.jpg) no-repeat;
    background-image: url(../images/banner-footer.jpg);
    background-repeat: no-repeat;
    height: 400px;

    h2 {
        line-height: 1.5;
    }

    .input-group {
        width: 350px;
    }
}