<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <div class="header">
    <nav class="navbar navbar-expand-lg py-8 navbar-light bg-white">
      <div class="container-fluid position-relative">
        <a class="navbar-brand position-absolute top-50 start-50 translate-middle fs-4 text-purple"
          href="#">EXHIBINECTION</a>
        <div class="d-flex ms-auto text-light-dark">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-md-flex d-none">
            <li class="nav-item ">
              <a class="nav-link" href="#">Sign in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sign up</a>
            </li>
          </ul>
          <a class="nav-link ps-2 pe-7 position-relative" href="#">
            <span class="material-icons d-none d-md-inline-block text-black">
              confirmation_number
            </span>
            <span class="material-icons text-black d-md-none position-absolute top-50 end-0 translate-middle-y">
              confirmation_number
            </span>
          </a>
        </div>
      </div>
    </nav>
  </div>
  <%- contents %>
    <div class="banner-footer bgcovercenter wsnowrap d-flex align-items-end">
      <div class="container text-white fw-bold">
        <div class="row">
          <div class="col-md-4">
            <h2 class="line-height-lg d-flex h-100 align-items-center">想收到最新消息嗎？<br>快訂閱我們！</h2>
          </div>
        </div>
        <div class="row mt-16 mb-19">
          <div class="col-md-4">
            <div class="input-group mb-3">
              <input type="text" class="form-control border-0 py-16" placeholder="輸入您的電子信箱"
                aria-describedby="basic-addon2">
              <span class="input-group-text px-18 bg-primary border-0" id="basic-addon2">訂閱</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer px-md-20">
      <nav class="navbar navbar-expand-lg py-md-8 navbar-light bg-white">
        <div class="container-fluid">
          <a class="navbar-brand fs-4 text-purple" href="#">EXHIBINECTION</a>
          <span>© 2020. All Rights Reserved.</span>
          <div class="d-flex ms-auto text-light-dark d-md-flex d-none">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
              <li class="nav-item ">
                <a class="nav-link" href="#">Sign in</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Sign up</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>