* {
    font-weight: inherit !important;
    box-sizing: border-box;
    // white-space: nowrap;
}

a {
    color: inherit !important;
}

button,
span {
    color: inherit !important;
}

img {
    vertical-align: top;
}

ul {
    margin: 0;
}